<style>
    .otree-timer {
        display: none;
    }

    /* needed for animated progess bar */
    .progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
    }
</style>

{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Experiment Orbit
{% endblock %}

{% block title %}
    
{% endblock %}

{% block content %}

<div id="progessbar">

    <div class="alert alert-primary" role="alert" style="text-align: center;">
        Bitte warten Sie einen kurzen Moment.<br>
        Die Entwicklung Ihres Projekts Smart {{ player.initial_decision }} der nächsten 12 Monate wird geladen.
    </div>

    <div class="col-xs-12 col-sm-12 progress-container">
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" style="width:0%"></div>
        </div>
    </div>

</div>

<div id="subinfo" style="display:none;">

    <div class="alert alert-primary" role="alert" style="text-align: center;">
        Mittlerweile ist ein Jahr – seit dem Start Ihres Projekts Smart {{ player.initial_decision }} – vergangen.
    </div>
    
    <div class="card bg-light m-3">
        <div class="card-body">
            <p>Sie erhalten nun einen Bericht, der aktuelle Informationen zu Ihrem Projekt Smart {{ player.initial_decision }} enthält.</p> 
    
            <p>Nachdem Sie den Bericht gelesen haben, sollen Sie eine Empfehlung bzgl. der weiteren Entwicklung Ihres Projekts <br> Smart {{ player.initial_decision }} an die Geschäftsführung abgeben.</p>
        </div>
    </div>
    
    <div style="text-align: right">
        <button id="nextbutton" class="btn btn-primary">Weiter zum aktualisierten Projektbericht</button>
    </div>

</div>

<!-- needed for animated progress bar, 6000 equals loading time -->
<script>
    $(".progress-bar").animate({
        width: "100%"
    }, 6500);
    
    var sec = 0; // global variable
    
    // increasing timer
    function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
        pad(++sec); // increase sec variable
        if (sec > 6.5) {
            $("#progessbar").hide(); // hide progessbar
            $("#subinfo").show(); // show payout
        }
    }, 1000);
</script>

{% endblock %}