<style>
/* adjusts height of three boxes at the top */
.card-deck .card-body {
    padding: 0.6rem;
    vertical-align: middle;
}

/* space between buttons */
.btn-space {
    margin-right: 50px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
</style>

{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Experiment Orbit
{% endblock %}

{% block title %}
   
{% endblock %}

{% block scripts %}

<script src="{% static 'back_button_v1/js/prev_next_button.js' %}"></script>

{% endblock %}


{% block styles %}

<link href="{% static 'back_button_v1/css/custom.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

<!-- Tab navigation -->
<ul class="nav nav-tabs   fixed-top navbar-light bg-light justify-content-center" id="myTab" role="tablist">
  
  <li class="nav-item">
    <a class="nav-link topnav active" id="part1-tab" data-toggle="tab" href="#part1" role="tab" aria-controls="part1" onclick="timerProject1()">Projektidee #1</a>
  </li>
  <li class="nav-item" id="navtooltip1" data-toggle="tooltip" title="Bitte schauen Sie sich erst die 'Weiteren Informationen' (siehe linke Seite) von Projektidee #1 an">
    <a class="nav-link topnav" id="part2-tab" href="#part2" role="tab" aria-controls="part2" onclick="timerProject2()">Projektidee #2</a>
  </li>
  <li class="nav-item" id="navtooltip2" data-toggle="tooltip" title="Bitte schauen Sie sich erst die 'Weiteren Informationen' (siehe linke Seite) von Projektidee #1 an">
    <a class="nav-link topnav" id="part3-tab" href="#part3" role="tab" aria-controls="part3" onclick="topFunction(); timerDecision()">Entscheidung</a> 
    <!-- data-toggle="tab" missing, see destroyTooltip function -->
  </li>

</ul>
<br>
<br>


<!-- Tab content -->
<div class="tab-content" id="myTabContent">

{% comment %}consider randomized display order of coffee and tee by switchting part1 and part2 around. tee is part1 if displayorder == 2{% endcomment %}
<!-- First Page -->
<div class="tab-pane toppane show active" id="part1" role="tabpanel" aria-labelledby="part1-tab">


<!-- start -->
<div class="container">
  <div class="row">
        
        <div class="col-sm">
            <h3>Projektidee #1</h3>
            <h3><b>Smart Coffee</b></h3>
        </div>
        
        <div class="col-sm">
            <img src="{% static "orbit/kw.png" %}" style="float:right">
        </div>
        
    </div>
  </div>

<hr>

  <div class="card-deck" style="text-align: center;">
    <div class="card">
      <div class="card-header">
        Geplanter Projektstart
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;">30 Juni 2020</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Projektverantwortlicher
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;">Leitender Manager <br>Abteilung „Projekte“</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Aktuelles Guthaben Projektkonto
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;font-weight:510">7,5 Mio. Lira</p>
      </div>
    </div>

  </div>
  <hr>
 
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" aria-selected="false"><b>Smart Coffee</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="Beschreibung-tab" data-toggle="tab" href="#Beschreibung" role="tab" aria-controls="Beschreibung" aria-selected="true">Übersicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="softfacts-tab" data-toggle="tab" href="#softfacts" role="tab" aria-controls="softfacts" aria-selected="false" onclick="destroyTooltip()">Weitere Informationen</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="Beschreibung" role="tabpanel" aria-labelledby="Beschreibung-tab">
            <div class="card">
              <h5 class="card-header">Projekt-Übersicht</h5>
              <div class="card-body">
              <h4>Beschreibung</h4><hr>
              <p>Smart Coffee ist ein Kaffeevollautomat mit künstlicher Intelligenz, der basierend auf den Trinkgewohnheiten der einzelnen Nutzer ein optimales Kaffee/Milch/Zucker-Profil erstellt.
                Smart Coffee enthält ein automatisches Reinigungssystem, wodurch Kaffeetrinkern ein Großteil des Reinigungsprozesses erspart wird.</p>
              <br>
              <h4>Anfangsinvestition</h4><hr>
                <p>Die Konzeption des Smart Coffee Prototyps kostet 0,5 Mio. Lira.</p>
                <p>Die weiteren Kosten für den Entwicklungsprozess liegen bei 2,5 Mio. Lira.</p>
                <p>Zusätzlich wird eine Software benötigt, die intern in der Abteilung Smart Kitchen programmiert wird. Die Programmierung wird 1 Mio. Lira kosten.</p>
              <br>
              <h4>Finanzen</h4><hr>
              <p>Unter Berücksichtigung aller relevanten Infos wurden folgende Werte berechnet:</p>
              <table class="table table-striped">
                <thead style="text-align: center;">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Smart Coffee</th>
                  </tr>
                </thead>
                <tr>
                  <th scope="row" style="width: 50%;">Benötigte Anfangsinvestition</th>
                  <td style="text-align: center;">4 Mio. Lira</td>
                </tr>
                <tr>
                  <th scope="row">Erwartete diskontierte Einzahlungsüberschüsse aus den Rückflüssen der Investition</th>
                  <td style="text-align: center; width: 35%;">8,5 Mio. Lira</td>
                </tr>
              </table>
              </div>
          </div>
        </div>

        <div class="tab-pane fade" id="softfacts" role="tabpanel" aria-labelledby="softfacts-tab">
          <div class="card">
            <h5 class="card-header">Weitere Informationen</h5>
            <div class="card-body">
              <p>Primärer Absatzmarkt: Nordamerika</p><hr>
              <p>Zurzeit gibt es keinen ernstzunehmenden Wettbewerb im Bereich Smart Coffeemaker. Eine Marktanalyse gibt auch keine Hinweise darauf, dass ein Wettbewerber die Entwicklung eines Smart Coffeemakers plant.</p><hr>
              <p>Das Marktpotenzial ist im Kaffeemarkt höher als im Teemarkt aufgrund der allgemein höheren Popularität von Kaffeeprodukten.</p><hr>
              <p>Allerdings ist die Zahlungsbereitschaft der Kunden im Kaffeemarkt niedriger als die der Kunden im Teemarkt.</p><hr>
              <p>Für den Verkauf von Smart Coffee können höchstwahrscheinlich bestehende Synergien mit dem primären Vertriebspartner von Kitchen World genutzt werden.</p>
            </div>
          </div>
          <button onclick="topFunction(); timerProject2()" type="button" class="nexttab btn-primary btn next">Weiter zur Projektidee #2</button>
        </div>

      </div>
    </div>

</div>
<!-- end -->

</div>



<!-- Second Page -->
<div class="tab-pane toppane" id="part2" role="tabpanel" aria-labelledby="part2-tab">

<!-- start -->
<div class="container">
  <div class="row">
        
        <div class="col-sm">
            <h3>Projektidee #2</h3>
            <h3><b>Smart Tea</b></h3>
        </div>
        
        <div class="col-sm">
            <img src="{% static "orbit/kw.png" %}" style="float:right">
        </div>
        
    </div>
  </div>

<hr>

  <div class="card-deck" style="text-align: center;">
    <div class="card">
      <div class="card-header">
        Geplanter Projektstart
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;">30 Juni 2020</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Projektverantwortlicher
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;">Leitender Manager <br>Abteilung „Projekte“</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Aktuelles Guthaben Projektkonto
      </div>
      <div class="card-body">
        <p class="card-text" style="text-align: center;font-weight:510">7,5 Mio. Lira</p>
      </div>
    </div>

  </div>
  <hr>
 
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" aria-selected="false"><b>Smart Tea</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="Beschreibung2-tab" data-toggle="tab" href="#Beschreibung2" role="tab" aria-controls="Beschreibung2" aria-selected="true">Übersicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="softfacts2-tab" data-toggle="tab" href="#softfacts2" role="tab" aria-controls="softfacts2" aria-selected="false">Weitere Informationen</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="Beschreibung2" role="tabpanel" aria-labelledby="Beschreibung2-tab">
            <div class="card">
              <h5 class="card-header">Projekt-Übersicht</h5>
              <div class="card-body">
              <h4>Beschreibung</h4><hr>
              <p>Smart Tea ist ein Tee-Vollautomat mit künstlicher Intelligenz, mit deren Hilfe die optimale Tee-Dosierung, Ziehzeit und Wassertemperatur automatisch an die Präferenz der Nutzer angepasst wird. Smart Tea kann ohne größeren Aufwand an das Wassernetz angeschlossen werden, wodurch das manuelle Nachfüllen des Wasserbehälters überflüssig wird.</p>
              <br>
              <h4>Anfangsinvestition</h4><hr>
                <p>Die Konzeption des Smart Tea Prototyps kostet 0,6 Mio. Lira.</p>
                <p>Die weiteren Kosten für den Entwicklungsprozess liegen bei 2,4 Mio. Lira.</p>
                <p>Zusätzlich wird eine Software benötigt, die intern in der Abteilung Smart Kitchen programmiert wird. Die Programmierung wird 1 Mio. Lira kosten.</p>
              <br>
              <h4>Finanzen</h4><hr>
              <p>Unter Berücksichtigung aller relevanten Infos wurden folgende Werte berechnet:</p>
              <table class="table table-striped">
                <thead style="text-align: center;">
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Smart Tea</th>
                  </tr>
                </thead>
                <tr>
                  <th scope="row" style="width: 50%;">Benötigte Anfangsinvestition</th>
                  <td style="text-align: center;">4 Mio. Lira</td>
                </tr>
                <tr>
                  <th scope="row">Erwartete diskontierte Einzahlungsüberschüsse aus den Rückflüssen der Investition</th>
                  <td style="text-align: center; width: 35%;">8,5 Mio. Lira</td>
                </tr>
              </table>
              </div>
          </div>
        </div>

        <div class="tab-pane fade" id="softfacts2" role="tabpanel" aria-labelledby="softfacts2-tab">
          <div class="card">
            <h5 class="card-header">Weitere Informationen</h5>
            <div class="card-body">
              <p>Primärer Absatzmarkt: Mitteleuropa</p><hr>
              <p>Zurzeit gibt es keinen ernstzunehmenden Wettbewerb im Bereich Smart Teamaker. Eine Marktanalyse gibt auch keine Hinweise darauf, dass ein Wettbewerber die Entwicklung eines Smart Teamakers plant.</p><hr>
              <p>Das Marktpotenzial im Teemarkt ist niedriger als im Kaffeeemarkt aufgrund der allgemein höheren Popularität von Kaffeeprodukten.<br>Allerdings ist der Teekonsum die letzten Jahre deutlich gestiegen, u.a. aufgrund des gestiegenem Gesundheitsbewusstseins der Europäer.</p><hr>
              <p>Die Zahlungsbereitschaft der Kunden im Teemarkt ist höher als die der Kunden im Kaffeemarkt.</p><hr>
              <p>Für den Verkauf von Smart Tea können höchstwahrscheinlich bestehende Synergien mit dem primären Vertriebspartner von Kitchen World genutzt werden.</p>
            </div>
          </div>
          <button onclick="topFunction(); timerProject1()" type="button" class="prevtab btn-light btn back" style="background-color: #f8f9fa; border-color: #8b8b8b">Zurück zur Projektidee #1</button>
          <button onclick="topFunction(); timerDecision()" type="button" class="nexttab btn-primary btn next">Weiter zur Entscheidung</button>
        </div>
        
      </div>
    </div>
    
  </div>
  <!-- end -->


  </div>



<!-- Third Page -->
<div class="tab-pane toppane" id="part3" role="tabpanel" aria-labelledby="part3-tab">
    
<div class="card">
  <div class="card-header">
    <p><span style="font-weight: 600">Die Geschäftsführung möchte nun von Ihnen wissen, welches der beiden Projekte Sie starten möchten</span>.</p>
    <p><span style="font-weight: 600">Möchten Sie – mit der Anfangsinvestition in Höhe von 4 Mio. Lira – das Projekt Smart Coffee oder das Projekt Smart Tea starten?</span></p>
    <p>Bitte klicken Sie auf das Projekt, das Sie starten möchten:</p>
  </div>
  <div class="card-body">
      <br>
      <div style="text-align:center">
          <button type="button" class="btn btn-secondary btn-lg btn-space" onclick="save_coffee()" id="coffee">Smart Coffee</button>
          <button type="button" class="btn btn-secondary btn-lg btn-space" onclick="save_tee()" id="tee">&#8205; &#8205; &#8205; Smart Tea &#8205; &#8205; &#8205;</button>
      </div>
      <br>
      <hr>

      <div class="alert alert-primary" role="alert" id="selection" style="text-align: center;">
          Ich möchte das Projekt ... starten! 
      </div>
      <br>
      <div class="form-check required">
        <label class="form-check-label  field-initial_checkbox" for="check">
          <input id="check" type="checkbox" required="" class="form-check-input">
          Ich habe meine Entscheidung getroffen
        </label>
      </div>
  </div>
</div>

<br>

<button onclick="topFunction(); timerProject2()" type="button" class="prevtab btn-light btn back" style="background-color: #f8f9fa; border-color: #8b8b8b">Zurück</button>
<button type="button" class="nexttab btn-primary btn next" id="nextbutton" data-toggle="tooltip" title="Bitte klicken Sie auf das Projekt, das Sie starten möchten">Entscheidung treffen</button>
</div>


</div>

<br><br>
<!-- footerbar with instructions and calculator modals -->
{% include "global/FooterContent.html" %}

</body>

<!-- hidden field to store time spent on page in seconds -->
<input type="hidden" name="timer_initialdecision" id="timer_initialdecision" value=0>

<!-- hidden field to store all button clicks -->
<input type="hidden" name="initial_choices" id="initial_choices">

<script>

  let decision_array = []
  function save_tee() {
      //$('#nextbutton').prop('disabled',false); //decision has to be made before nextbutton is clickable
      $('#nextbutton').removeAttr("type"); // removes type attribute from next button so form can be submitted
      $('#nextbutton').removeAttr('data-original-title'); // removes tooltip
      $('#tee').css({"background-color": "#007bff", "border-color": "#007bff"}); //highlight
      $('#coffee').css({"background-color": "#6c757d", "border-color": "#6c757d"}); //unhighlight
      $('#selection').html("Ich möchte das Projekt <b>Smart Tea</b> starten!");
      decision_array.push("Tea") //push click to array
      $("#initial_choices").val(decision_array); //save array
  }
  
  function save_coffee() {
      $('#nextbutton').removeAttr("type"); // removes type attribute from next button so form can be submitted
      $('#nextbutton').removeAttr('data-original-title'); // removes tooltip
      $('#tee').css({"background-color": "#6c757d", "border-color": "#6c757d"});
      $('#coffee').css({"background-color": "#007bff", "border-color": "#007bff"});
      $('#selection').html("Ich möchte das Projekt <b>Smart Coffee</b> starten!");
      decision_array.push("Coffee")
      $("#initial_choices").val(decision_array);
  }
  
  
  var sec = 0; // global variable
  let timer = [] // first value equals time spent on initial (project1) tab

  function timerProject1() {
    timer.push("Project1 tab clicked at " + sec);
  }
  
  function timerProject2() {
    timer.push("Project2 tab clicked at " + sec);
  }

  function timerDecision() {
    timer.push("Decision tab clicked at " + sec);
  }

  function destroyTooltip() {
    $('#navtooltip1').tooltip('dispose'); //destroys the tooltip on the 2nd item in the upper navbar
    $('#navtooltip2').tooltip('dispose'); //destroys the tooltip on the 3rd item in the upper navbar
    $("#part2-tab").attr('data-toggle', 'tab'); // makes top navbar second item clickable
    $("#part3-tab").attr('data-toggle', 'tab');
  }
  
  // increasing timer
  function pad ( val ) { return val > 9 ? val : "0" + val; }
  setInterval( function(){
      $("#seconds").html(pad(++sec));
      // $("#timer_initialdecision").val(sec); // store seconds spent on page in hidden field
  }, 1000);
  
  $(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
  });

  $('#nextbutton').click(function() { // execute function if next is clicked
    if ($('#nextbutton').attr("type") !== "button") { // function is executed if next can be clicked
      timer.push("total " + sec); // push total secs to array
      $("#timer_initialdecision").val(timer); // store array in hidden field
    }
  });

</script>

{% endblock %}



