<style>
ul {
    list-style-type: none;
}

/* li {
  color: #f8f9fa;
}

label {
  color: black;
} */

</style>
<!-- if a radiobutton text has a linebreak, a list marker is mistakenly shown  -->

{% extends "global/Page.html" %}
{% load otree static %}

{% block head_title %}
Experiment Orbit
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<!-- the following is shown when the page is generated for the first time -->
{% if player.quiz_totalwronganswers == 0 %}
<div class="card">
    <div class="card-header">
      Quiz Experimentanleitung
    </div>
    <div class="card-body">
        <p>
            Im Folgenden müssen Sie einige Fragen beantworten, um sicherzustellen, dass Sie die Experimentanleitung verstanden haben.
        </p>

        <p>
            Wenn Sie Probleme beim Beantworten einer Frage haben, kehren Sie zur Experimentanleitung (siehe unten) zurück.
        </p>

        <p>
            Nachdem Sie alle Fragen richtig beantwortet haben, werden Sie mit der Hauptaufgabe starten.
        </p>

        <div style="text-align:center">
        <button type="button" id="showinfo" class="btn btn-primary btn-large">Fragen anzeigen</button>
        </div>

    </div>
  </div>

<div id="questions" style="display:none;">
    <style>
    .input-group, input.form-control, select.form-control, textarea.form-control {
        max-width: 150px;
    }
    </style>
{% for field in form %}
{% if not forloop.last %}
<!-- otherwise timerfield is also displayed -->
<div class="card bg-light m-3">
    <div class="card-body">
        {% if field.html_name == "quiz1" or field.html_name == "quiz2" or field.html_name == "quiz3a" or field.html_name == "quiz3b" or field.html_name == "quiz7" or field.html_name == "quiz8a" or field.html_name == "quiz8b" %}

            <b>{{ field.label }}</b>
            <hr>
            {{ field }}

            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}

        {% elif field.html_name == "quiz4" %}

            <b>{{ field.label }}</b>
                <hr>
                <p>Aktuell beträgt das Guthaben auf dem Projektkonto 5 Mio. Lira.<br>
                Bei einem Projekt fallen Anfangsinvestitionen in Höhe von 0,5 Mio. Lira an.<br>
                Das Projekt erwirtschaftet diskontierte Einzahlungsüberschüsse in Höhe von 1,5 Mio. Lira.</p>
                {{ field }}
                <i>Bitte machen Sie Ihre Angabe als Dezimalzahl mit einer Stelle nach dem Komma (bspw. 1,2)</i>
                
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}

        {% elif field.html_name == "quiz5" %}
            
            <b>{{ field.label }}</b>
            <hr>
            {{ field }}
            <i>Bitte machen Sie Ihre Angabe als ganze Zahl ohne Tausendertrennzeichen (bspw. 10000)</i>
            
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}

        {% elif field.html_name == "quiz6" %}

            <b>{{ field.label }}</b>
            <hr>
            {{ field }}
            <i>Bitte machen Sie Ihre Angabe als Dezimalzahl mit zwei Stellen nach dem Komma (bspw. 0,50)</i>
            
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}

        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
</div>

    
    <div id="nextbtn" onclick="appendtimer()" style="text-align:right; display:none">
        {% next_button %}
    </div>

<script>
$("#showinfo").on("click", function(e) {
   e.preventDefault(); // in some browsers a button submits if no type=
   $("#questions").show(); // show questions div
   $("#nextbtn").show(); // show next button
   $("#showinfo").hide(); // hide info box on top
});
</script>

{% else %}
<!-- the following info is shown in case there were any mistakes (totalwronganswers > 0) -->
<!-- hide the general error message "Please fix the errors in the form" -->
<style>
    .otree-form-errors {
        display: none;
    }

    .input-group, input.form-control, select.form-control, textarea.form-control {
        max-width: 150px;
    }
</style>

<div class="alert alert-danger" role="alert">
    Sie haben die Fragen teilweise falsch beantwortet. Bitte korrigieren Sie die rot markierten Antworten.
</div>

<div id="questions" style="display:true;">
    {% for field in form %}
    {% if not forloop.last %}
    <!-- otherwise timerfield is also displayed -->
    <div class="card bg-light m-3">
        <div class="card-body">
            {% if field.html_name == "quiz1" or field.html_name == "quiz2" or field.html_name == "quiz3a" or field.html_name == "quiz3b" or field.html_name == "quiz7" or field.html_name == "quiz8a" or field.html_name == "quiz8b" %}
    
                <b>{{ field.label }}</b>
                <hr>
                {{ field }}
    
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}
    
            {% elif field.html_name == "quiz4" %}
    
                <b>{{ field.label }}</b>
                    <hr>
                    <p>Aktuell beträgt das Guthaben auf dem Projektkonto 5 Mio. Lira.<br>
                        Bei einem Projekt fallen Anfangsinvestitionen in Höhe von 0,5 Mio. Lira an.<br>
                        Das Projekt erwirtschaftet diskontierte Einzahlungsüberschüsse in Höhe von 1,5 Mio. Lira.</p>
                    {{ field }}
                    <i>Bitte machen Sie Ihre Angabe als Dezimalzahl mit einer Stelle nach dem Komma (bspw. 1,2)</i>
                    
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.errors }}
                    </div>
                    {% endif %}
    
            {% elif field.html_name == "quiz5" %}
                
                <b>{{ field.label }}</b>
                <hr>
                {{ field }}
                <i>Bitte machen Sie Ihre Angabe als ganze Zahl ohne Tausendertrennzeichen (bspw. 10000)</i>
                
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}
    
            {% elif field.html_name == "quiz6" %}
    
                <b>{{ field.label }}</b>
                <hr>
                {{ field }}
                <i>Bitte machen Sie Ihre Angabe als Dezimalzahl mit zwei Stellen nach dem Komma (bspw. 0,50)</i>
                
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}
    
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    
        
        <div id="nextbtn" onclick="appendtimer()" style="text-align:right; display:true">
            {% next_button %}
        </div>
{% endif %}

<!-- footerbar with instructions and calculator modals -->
{% include "global/FooterContent.html" %}

<!-- hidden field to store time spent on page in seconds -->
<input type="hidden" name="timer_quiz" id="timer_quiz" value="{{ player.timer_quiz }}">
	
<script>

var sec = 0; // global variable

// increasing timer
function pad ( val ) { return val > 9 ? val : "0" + val; }
setInterval( function(){
    $("#seconds").html(pad(++sec));
}, 1000);


let timerlist = [] // use an array to store seconds for each failed attempt
function appendtimer() { // is executed when next button is clicked
    if ($("#timer_quiz").val() !== "None") { // when first timer submission is made (value of hidden field is None in the beginning)
        timerlist.push($("#timer_quiz").val()); // push values from previous attempt to array
        timerlist.push(sec); // push current value to array
        $("#timer_quiz").val(timerlist); // store seconds spent on page in hidden field as an array
    } else {
        timerlist.push(sec);
        $("#timer_quiz").val(timerlist); // store seconds spent on page in hidden field
    }
}

</script>



{% endblock %}
