{% extends "global/Page.html" %}
{% load otree static %}


{% block head_title %}
Experiment Orbit
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<h3>Vielen Dank für Ihre Teilnahme am Experiment!</h3><hr>
<div>
    Sie haben das Experiment abgeschlossen.<br>
    Sie erhalten Ihre Vergütung voraussichtlich in den nächsten 2-4 Wochen.<br>
    Bei Fragen können Sie uns jederzeit unter <a href="mailto:info.bwl4@wirtschaft.uni-giessen.de">info.bwl4@wirtschaft.uni-giessen.de</a> kontaktieren.<br>
    Sie können den Vollbildmodus nun verlassen (F11) und den Tab schließen.
</div>

{% endblock %}

