{% extends "global/PageLikert.html" %}

{% load otree static %}
{% load listforloopcounter %}

{% block head_title %}
Experiment Orbit
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

{% for field in form %}

{% if field.html_name == "qDaCheckAnsw1" %}

<div class="card">
  

  <div class="card-header" style="text-align:left;">
    <label class="statement"><b>{{ field.label }}</b></label> 
  </div>

    <div class="card-body">
      {{ field }}
    </div>
</div>    
    
<br>   

{% else %}

<div class="card">
  
  {% comment %}check if dynamic label is used via length of var_for_templates. if not, use regular form label{% endcomment %}
  {% if q_label|length >= 1 %}
  <div class="card-header" style="text-align:left;">
    <label class="statement"><b>{{ q_label|get_at_index:forloop.counter0 }}</b></label> 
  </div>
  {% else %}
  <div class="card-header" style="text-align:left;">
    <label class="statement"><b>{{ field.label }}</b></label> 
  </div>
  {% endif %}

    <div class="card-body">
        <ul class="{{ field.html_name }}" id="questionitem">
            {% for choice in field %}
                {% if forloop.counter == 1 %}
                <li>
                    <input id="id_{{ field.html_name }}_{{ forloop.counter }}" type="radio" name="{{ field.html_name }}" value="{{ forloop.counter }}" class="form-check-input" required>
                    <label>Stimme gar nicht zu</label>
                </li>
                {% elif forloop.counter == 7 %}
                <li>
                    <input id="id_{{ field.html_name }}_{{ forloop.counter }}" type="radio" name="{{ field.html_name }}" value="{{ forloop.counter }}" class="form-check-input" required>
                    <label>Stimme voll zu</label>
                </li>
                {% else %}
                <li>
                    <input id="id_{{ field.html_name }}_{{ forloop.counter }}" type="radio" name="{{ field.html_name }}" value="{{ forloop.counter }}" class="form-check-input" required>
                    <label>{{ forloop.counter }}</label>
                </li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
    </div>    
    
<br>   

{% endif %}
{% endfor %}

<div style="text-align:right">
  <button class="nexttab btn-primary btn next" id="nextbutton">Weiter</button>
</div>


{% endblock %}
