<style>
    ul {
        font-weight: 500;
    }
</style>

{% extends "global/Page.html" %}
{% load otree static %}


{% block head_title %}
Experiment Orbit
{% endblock %}
{% block title %}
{% endblock %}

{% block content %}

<h3>Ablauf - 1. Teil vom Experiment</h3>
    <ul class="list-group list-group-flush" style="font-size:15px">
        <li class="list-group-item">Auf der nächsten Seite sollen Sie bitte 7 demographische Fragen beantworten.</li>
        <li class="list-group-item">Danach erhalten Sie eine kurze Lotterie-Aufgabe.<br>Die Lotterie-Aufgabe ist Bestandteil Ihrer Vergütung, welche Ihnen nach Abschluss des zweiten Teils vom Experiment überwiesen wird.</li>
        <li class="list-group-item">Abschließend sollen Sie bitte 9 allgemeine Fragen zu Ihrer Person beantworten.<br>Es gibt dabei keine richtigen bzw. falschen Antworten. Wir bitten Sie aber um eine ehrliche Beantwortung der Fragen.</li>
        <li class="list-group-item">Ihre Antworten werden von der Experimentleitung vollständig anonym behandelt.</li>
        <li class="list-group-item">Um Ihnen Ihre Vergütung nach Abschluss des Experiments zuzuordnen und Ihnen dabei Anonymität gewährleisten zu können, sollen Sie bitte im Folgenden einen Code generien:</li>
    </ul>

    <br>

    <div class="card bg-light m-3">
        <div class="card-body">
            <p>Bitte tragen Sie hier einen selbst-generierten Code ein.
            <br>Bitte schreiben Sie sich den Code auf, da Sie diesen erneut beim zweiten Teil vom Experiment angeben müssen.</p>
            <p>Generieren Sie den Code bitte mit folgenden Infos:</p>
            <ul>
                <li>Die letzte Ziffer Ihrer Handynummer (0171 2345123 = 3)</li>
                <li>Die ersten zwei Buchstaben vom Vornamen Ihrer Mutter (bspw. Erika = Er)</li>
                <li>Die ersten zwei Buchstaben vom Vornamen Ihres Vaters (bspw. Max = Ma)</li>
                <li>Die ersten zwei Buchstaben von Ihrem Geburtsort (bspw. Gießen = Gi)</li>
                <li>Ihren Geburtsmonat als Zahl (Januar = 01)</li>
                <li>Anhand der Beispielangaben wäre der Code <i>3ErMaGi01</i></li>
            </ul>
            {% formfield player.participant_code label="Selbst-generierter Teilnehmercode:" %}
        </div>
      </div>

    <div style="text-align: right">
        <button type="button" class="nexttab btn-primary btn next" id="nextbutton" data-toggle="tooltip" title="Der Code muss 8 Zeichen haben!">Weiter zu den demographischen Fragen</button>
    </div>
        
<script>

// increasing timer
let sec = 0;
function pad ( val ) { return val > 9 ? val : "0" + val; }
    setInterval( function(){
    $("#seconds").html(pad(++sec)); // executes function. however no field with id #seconds on this page
    if ($("#id_participant_code").val().length == 9) { // participant only can advance if code has length 8
        $('#nextbutton').removeAttr("type"); // removes type attribute from next button so form can be submitted
        $('#nextbutton').removeAttr('data-original-title'); // removes tooltip
    } else if ($("#id_participant_code").val().length != 9) {
        $('#nextbutton').attr("type", "button"); // adds type attribute from next button so form can be submitted
        $('#nextbutton').attr('data-original-title', "Der Code muss 9 Zeichen haben!"); // adds tooltip
    }
}, 1000); 

$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});

</script>
{% endblock %}

