{% extends "global/Page.html" %}
{% load otree static %}


{% block head_title %}
Experiment Orbit
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

<h3>Vielen Dank für Ihre Unterstützung!<br>Sie haben den ersten Teil vom Experiment abgeschlossen.</h3><hr>
<div class="alert alert-primary" role="alert">
    <p>Sie erhalten am 16.06 den Link zum zweiten Teil vom Experiment an die E-Mail, die Sie bei der Anmeldung angegeben hatten.</p>
    <p>Den zweiten Teil können Sie im Zeitraum vom 16.06 bis 18.06 durchführen.</p>
    <p>Die Vergütung der Lotterie-Aufgabe, sowie die Vergütung für den zweiten Teil vom Experiment erhalten Sie am Ende vom zweiten Teil.</p>
    <p>Bei Fragen können Sie uns jederzeit unter <a href="mailto:info.bwl4@wirtschaft.uni-giessen.de">info.bwl4@wirtschaft.uni-giessen.de</a> kontaktieren.</p>
</div>

{% endblock %}

