<style>
    ul {
        font-weight: 500;
    }
</style>

{% extends "global/Page.html" %}
{% load otree static %}


{% block head_title %}
Experiment Orbit
{% endblock %}
{% block title %}
<h3>Willkommen! <br> Vielen Dank für Ihre Unterstützung bei unserem Experiment!</h3> <hr>
{% endblock %}

{% block content %}

    <ul class="list-group list-group-flush" style="font-size:15px">
        <li class="list-group-item">Im Folgenden bearbeiten Sie den ersten Teil des Experiments, der ca. 5 Minuten dauert.</li>
        <li class="list-group-item">Nachdem Sie den ersten Teil abgeschlossen haben, kriegen Sie vormittags am 16.06 den Link zum zweiten Teil des Experiments an Ihre E-Mail geschickt, die Sie in der Anmeldung angegeben haben.</li>
        <li class="list-group-item">Der zweite Teil vom Experiment findet vom 16.06 bis zum 18.06 statt.<br>Sie können sich in diesem Zeitraum frei aussuchen, wann Sie das Experiment durchführen wollen.</li>
        <li class="list-group-item">Sie können von zu Hause aus mit Ihrem Laptop/PC am Experiment teilnehmen.<br>Die Teilnahme am Experiment dauert ca. 40 Minuten und wird mit etwa 12€ vergütet.</li>
        <li class="list-group-item">Ihre Vergütung überweisen wir Ihnen, wozu Sie am Ende vom Experiment Ihre IBAN angeben müssen.</li>
        <li class="list-group-item">Dies ist ein betriebswirtschaftliches und kein psychologisches Experiment.<br>Folglich werden Sie in diesem Experiment zu keinem Zeitpunkt getäuscht oder belogen.</li>
    </ul>

    <br>

    <div style="text-align:right">
        <button class="btn btn-primary" id="nextbutton" onclick="">Weiter</button>
    </div>

<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 alert("Bitte führen Sie das Experiment an Ihrem Laptop oder Desktop PC durch")
}
</script>
{% endblock %}

